.foot{
display: flex;
flex-direction:column ;
box-sizing: border-box;
  margin-left:auto;
     margin-right:auto;
}
.feet{
 background:linear-gradient(darkblue,aqua); 
     white-space: nowrap;
     overflow: visible;
     width: 100%;
     height: 100%;
    z-index: 999;
}
.lwrap{
    margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   height: 55vh;
}
.links{
    width: 17%;
    padding: 0 15px;  
}
ul{
  list-style: none;  
}
.links h2{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 500;
    position: relative;
}
.link a{
    text-transform: capitalize;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: 10px;
    transform: all 0.3s ease;
}
.link a:hover{
    color:brown;
    padding-left: 10px;
}
.foot2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot2 a{
    display: inline block;
    color: white;
    margin-right: 10px;
    height: 35px;
    width: 40px;
   background-color:rgba(255, 255,255, 0.2);
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
    transition: all 0.5s ease;
    font-size: 1.8rem;
}
.foot2 a:hover{
    color: #24262b;
   background-color: whitesmoke;   
}
.middle-bot a{
    margin-right: 10px;
    color:cornsilk;
    text-decoration: none;   
    z-index: 999;
}
.middle-bot a:hover{
    text-decoration: underline;
}
.middle-bot{
    background: linear-gradient(brown,green);
    height: 12vh; 
}
.payment{
   height: 17vh;
   background: linear-gradient(red,black);
  display: flex;
  justify-content: center;
  align-items:center;
}
.pay{
font-size: 3rem;
margin-right: 80px;
color: white;
}
.right{
    color: whitesmoke;  
}
.join a{
    margin-right: 20px;
    color: whitesmoke;
    font-size: 3rem;  
}
.join{
     margin-top: 20px;
}
.join a:hover{
color: blueviolet;
}
.ap{
    color: white;
}
@media screen and (max-width:600px){
    .foot{
        width: 100%;
       white-space:none;
    }
    .feet{
       height: 550px;
    }
    .lwrap{
        width: 148%;
    }
    .links{
        width: 28%;  
    }
    .feet{
        width: 100%; 
    }
    .middle-bot{
      display: none;
    }
    .payment
    {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        height: 20vh;
    }
    .pay{
        color:bisque;
        font-size: 3rem;
        margin: 5px;  
        margin-left: 20px;  
    }
    .right{
        margin-left: 80px;
    }
    .linkss{
        display: none;
    }
    .ap{
        display: flex;
    }
    .join{
       display: none;
   }
   .foot2{
    display: none;
   }
}
@media screen and (max-width:1200px)and (min-width:480px){
    html,body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
}